<div id="snippet">
  <div id="syntax" class="snippet">
    <div id="themes" class="right">Themes:
      <%- # TODO: User.current.default_theme %>
      <%= select_tag :theme, options_from_collection_for_select(Uv.themes, :to_s, :titleize, @snippet.theme) %>
    </div>
    <div class="line_numbers">
      <%=raw line_numbers(@snippet.body.split("\n").size) %>
    </div>
    <%=raw @snippet.formatted_body %>
  </div>
</div>

<% content_for :sidebar do %>
  <h2><%= @snippet.language.name %></h2>

  <div class="date">
    <span>Snipped</span><br />
    <%= @snippet.created_at.strftime("%m/%d/%Y") %>
  </div>

  <div class="menu">
    <%= link_to('Edit', edit_snippet_path(@snippet)) %> |
    <%= link_to('View', snippet_path(@snippet, :format => :txt)) %>
  </div>

  <div id="taggings">
    <h3 id="taggings_count"><%= pluralize(@snippet.taggings_count, 'Tag') %></h3>
    <%= render :partial => 'taggings/tagging', :collection => @snippet.taggings %>
  </div>

  <fieldset id="add_tag">
    <legend>Add Tag</legend>
    <%= render :partial => "taggings/new", :locals => { :snippet_id => @snippet.id } %>
  </fieldset>
<% end %>

<script type="text/javascript">
  var update_theme = function(e) {
    var $content = jQuery('#content');
    $content.removeClass();
    $content.addClass(jQuery('#theme').val());
  };
  jQuery('#theme').live('change', update_theme);
  jQuery(update_theme);
</script>
