<div id="languages_page">
  <span class="right"><%= will_paginate(@languages) -%></span>

  <h1><%=h @language.blank? ? 'All Languages' : @language.name %>
  <%= total_for(@languages.total_entries) -%></h1>

  <% @languages.each do |language| %>
    <% div_for(language) do %>
      <%= link_to(language.name, language_snippets_path(language)) -%>
      <%= total_for(language.snippets_count, ' snippets') -%>
    <% end %>
  <% end %>
</div>