<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= auto_discovery_link_tag(:rss, { :controller => 'snippets', :format => :rss }) %>
</head>
<body>
  <div id="header">
    <h1><a href="/"><%= title %></a></h1>
    <ul id="menu">
      <li><%= link_to 'New', new_snippet_path -%></li>
      <li><%= link_to 'Snippets', snippets_path -%></li>
      <li id="search">
        <form action="/" method="get">
          <%= search_field_tag :q, '', :placeholder => "Search" %>
        </form>
      </li>
    </ul>
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <div id="sidebar">
    <%= content_for?(:sidebar) ? yield(:sidebar) : render(:partial => 'layouts/sidebar') %>
  </div>
  <div id="footer" class="clearfix">
    About <%= link_to 'Snippy', about_snippets_path -%>
  </div>
</body>
</html>
